/* здесь используйте глобальные переменные */
$primary-font: "Lato", "Tahoma", sans-serif;
$secondary-font: "Oswald", "Tahoma", sans-serif;
$basic-bg-color: #68b738;
$secondary-bg-color: #f2f2f2;
$basic-text-color: #444444;
$basic-title-color: #000000;
$secondary-title-color: #222222;
