.card-more {
  background-image: url("../../icons/stack.svg#show-more");
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.card-more__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

.card-more__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $basic-text-color;
}
