.copyright {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  color: $basic-text-color;
  font-size: 16px;
  line-height: 20px;

  &::after {
    width: 27px;
    height: 34px;
    display: block;
    content: "";
    mask-image: url("../../icons/stack.svg#logo-html-academy");
    mask-size: 27px 34px;
    background-color: #666666;
  }

  &:hover,
  &:focus {
    color: $basic-bg-color;

    &::after {
      background-color: $basic-bg-color;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.copyright__text {
  width: 75%;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}
