.hero__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.hero__slogan {
  font-family: $secondary-font;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.hero__slogan-container {
  background-color: $basic-bg-color;
}
