.main-footer {
  background-color: $secondary-bg-color;
}

.main-footer__container {
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
