.main-nav__toggle {
  @include clear-input;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  mask-image: url("../../icons/stack.svg#burger");
  mask-size: 24px 24px;
  mask-repeat: no-repeat;
  background-color: #000000;
  cursor: pointer;

  &--close {
    mask-image: url("../../icons/stack.svg#close");
    mask-size: 18px 18px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.main-nav--close .main-nav__list {
  @media (max-width: calc($tablet-width - 1px)) {
    display: none;
  }
}

.main-nav__list {
  z-index: 2;

  @media (max-width: calc($tablet-width - 1px)) {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    top: 100%;
  }
}

.main-nav--nojs {
  .main-nav__list {
    @media (max-width: calc($tablet-width - 1px)) {
      display: block;
      position: static;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}
