.nav-list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 33px;
    width: 436px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}

.nav-list__link {
  display: block;
  color: $basic-title-color;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;

  &:hover,
  &:focus {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.33;
    padding: 14px 0 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
  }
}

.nav-list__link--catalog {
  @media (min-width: $desktop-width) {
    color: $basic-title-color;
  }
}

.nav-list__link--current {
  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    border-bottom: 2px solid $basic-bg-color;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
    border-bottom: 2px solid #ffffff;
  }
}

.nav-list__link--current-catalog {
  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
    border-bottom: 2px solid $basic-bg-color;
  }
}

.nav-list__item {
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}
