.page__body {
  @media (min-width: $desktop-width) {
    background-image: url("../../images/background-index-desktop@2x.jpg");
    background-size: auto 694px;
    background-repeat: no-repeat;
    background-position: right top;
  }
}
