.program {
  background-color: $secondary-bg-color;
  padding: 21px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 77px 63px 35px 53px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 41px 52px 37px;
  }
}

.program--pro {
  padding: 24px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 77px 29px 34px 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 52px 37px;
  }
}

.program__image {
  @media (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    position: absolute;
    width: 200px;
    height: 211px;
    top: 2px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
  }
}

.program__image--pro {
  @media (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    width: 268px;
    height: 200px;
    top: 13px;
    right: -5px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
  }
}

.program__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $basic-title-color;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.program__description {
  color: $basic-text-color;
  margin: 0;
  padding-bottom: 35px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    border: none;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
  }
}

.program__title-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 22px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    gap: 62px;
    margin-bottom: 39px;
  }
}

.program__title-wrapper--pro {
  gap: 11px;
  margin-left: -7px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 47px;
    margin-left: -19px;
  }
}

.program__button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-title-color;
  display: flex;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 22px;

  &:hover,
  &:focus {
    opacity: 0.8;

    &::after {
      background-position: -1px center;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      background-position: -1px center;
    }
  }

  &::after {
    content: "";
    background-image: url("../../icons/stack.svg#icon-arrow");
    background-position: -8px center;
    width: 32px;
    height: 10px;
    background-repeat: no-repeat;
    margin-left: 15px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
